body{

}

.image{
    margin-top: 40px !important;
    margin: 20px;
 
    width: 200px;
  
    float: right;
    height: 200px;
        border:3px solid gray;

}

.container{
    width: 100%;
    color:white;
    background-color: rgb(31, 31, 31);
    font-family: 'Big Shoulders Display', cursive }

    .amarillo{
        margin-top: 20px !important;
        font-family: 'Big Shoulders Display', cursive !important;

        color:rgba(142, 191, 218, 0.799);font-size: 25px;letter-spacing: 15px;padding:10px;font-weight: 600
    }

    .parrafo{

        font-size: 22px;
        letter-spacing: 2px;
        font-family: 'Rubik', sans-serif;
        
    }

    .progress-bar{

        color: rgba(142, 191, 218, 0.799) !important;
        background-color:rgba(142, 191, 218, 0.799) !important;
        width: 90%;
        height:30px;
    }

    #img{
        height:60px;
        filter: grayscale(100%);
        margin: 20px;
    }

    .progress{
        margin-top: -10px;
        margin-bottom: 14px;
        
    }